.container {
  margin: 0px;
  background-color: #000;
  color: #aaa;
  font-family: 'Work Sans',Helvetica,Arial,Lucida,sans-serif;
  font-size: 18px;
}

.main {
  width: 300px;
  height: 250px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.text1 {
  width: 300px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1em;
}

.text2 {
  width: 300px;
  font-size: 14px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #eee;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }